
extends ../../../../../base.pug
block content
    div
        ul(class="list")
            li
                h2 Special Model (FL)
                p Predicted Crashes=No.of years ×Segment Length                             ×exp⁡(-4.640 +1.345 Ln (Volume_GP)-1.695 Ln (AvgSpeed_GP)+0.105 Diff.of Avg.Speed(Target_GP-Downstream_GP) -0.976 SeparationType).


        form(method="post", action="/figure", enctype="multipart/form-data")
            p
                span Select data file:
                input(type="file" name="dataFile")

            p
                button(type="submit" class="btn btn-primary")  Upload
