
extends ../../../../../base.pug
block content
    div
        ul(class="list")
            li
                h2 Special Model (FL, GA, IL, MD, MI, TX, VA, WA, WI)
                p Predicted Crashes=No.of years Ã—Segment Length  Ã—ex pâ¡(-1.537+0.277LogVolume-0.831LogAvgSpeed+0.083Std.Speed+0.704LaneNumber_(6-8)+1.355LaneNumber_(â‰¥10)+1.051(GA)+0.515(IL,MI)-0.589(MD,WI)+1.383(VA)-1.201(WA)).
            li
                h2 Generic Model
                p Predicted Crashes=No.of years Ã—Segment Length  Ã—ex pâ¡(-1.537+0.277LogVolume-0.831LogAvgSpeed+0.083Std.Speed+0.704LaneNumber_(6-8)+1.355LaneNumber_(â‰¥10) )Ã—CF.
                ul
                    li
                        h2 Calibration Factor
                        p ğ‘ªğ’‚ğ’ğ’Šğ’ƒğ’“ğ’‚ğ’•ğ’Šğ’ğ’ ğ‘­ğ’‚ğ’„ğ’•ğ’ğ’“_ğ’”ğ’•ğ’‚ğ’•ğ’†=(âˆ‘ ã€–ğ‘‚ğ‘ğ‘ ğ‘’ğ‘Ÿğ‘£ğ‘’ğ‘‘ ğ¶ğ‘Ÿğ‘ğ‘ â„ğ‘’ğ‘ _ğ‘ ğ‘¡ğ‘ğ‘¡ğ‘’ ã€—)/âˆ‘ ã€–ğ‘ƒğ‘Ÿğ‘’ğ‘‘ğ‘–ğ‘ğ‘¡ğ‘’ğ‘‘  ğ¶ğ‘Ÿğ‘ğ‘ â„ğ‘’ğ‘ _ğ‘ ğ‘¡ğ‘ğ‘¡ğ‘’ã€—

        form(method="post", action="/figure", enctype="multipart/form-data")
            p
                span Select data file:
                input(type="file" name="dataFile")

            p
                span Select Model:
                select(name="model")
                    option(value="special") Special
                    option(value="generic") Generic
            p
                span Observed Crashes State:
                input(type="number" name="crashes_state" step="0.001")
            p
                button(type="submit" class="btn btn-primary")  Upload
