extends ../../../../base.pug

block content
    div
        h3 The short-term SPFs for KABCO crash severity level are available for four time periods :
        ul(class="list")
            li
                a(href="/" + urlStr + "/AM Peak") AM Peak: from 6:00 am to 9:00 am
            //- li
                a(href="/" + urlStr + "/Off Peak") Off-Peak: from 9:00 am to 4:00 pm
            li
                a(href="/" + urlStr + "/PM Peak") PM Peak: from 4:00 pm to 7:00 pm
            //- li
                a(href="/" + urlStr + "/Night Time") Night-time: from 7:00 pm to 6:00 am




