extends ../../../base.pug

block content
    div
        h3 The short-term SPFs for urban freeway segment are available for the following crash severity level:
        ul(class="list")
            li
                a(href="/" + urlStr + "/KABCO Crashes") KABCO-Crashes: Five-level injury severity scale, K = fatal injury; A = incapacitating inury; B = non-incapacitating evident injury; C = possible injury; O = property damage only;
            li
                a(href="/" + urlStr + "/O Crashes") O-Crashes: Property damage only crashes



