
extends ../../../../../base.pug
block content
    div
        ul(class="list")
            li
                h2 Special Model (GA, VA, CO)
                p Predicted Crashes=No.of years Ã—Segment Length                             Ã—expâ¡(-2.883 +0.657 LogVolume -0.713 LogAvgSpeed+0.918 GA ).
            li
                h2 Generic Model
                p Predicted Crashes=No.of years Ã—Segment Length                             Ã—expâ¡(-2.883 +0.657 LogVolume -0.713 LogAvgSpeed ) Ã—CF.
                ul
                    li
                        h2 Calibration Factor
                        p ğ‘ªğ’‚ğ’ğ’Šğ’ƒğ’“ğ’‚ğ’•ğ’Šğ’ğ’ ğ‘­ğ’‚ğ’„ğ’•ğ’ğ’“_ğ’”ğ’•ğ’‚ğ’•ğ’†=(âˆ‘ ã€–ğ‘‚ğ‘ğ‘ ğ‘’ğ‘Ÿğ‘£ğ‘’ğ‘‘ ğ¶ğ‘Ÿğ‘ğ‘ â„ğ‘’ğ‘ _ğ‘ ğ‘¡ğ‘ğ‘¡ğ‘’ ã€—)/âˆ‘ ã€–ğ‘ƒğ‘Ÿğ‘’ğ‘‘ğ‘–ğ‘ğ‘¡ğ‘’ğ‘‘  ğ¶ğ‘Ÿğ‘ğ‘ â„ğ‘’ğ‘ _ğ‘ ğ‘¡ğ‘ğ‘¡ğ‘’ã€—

        form(method="post", action="/figure", enctype="multipart/form-data")
            p
                span Select data file:
                input(type="file" name="dataFile")

            p
                span Select Model:
                select(name="model")
                    option(value="special") Special
                    option(value="generic") Generic
            p
                span Observed Crashes State:
                input(type="number" name="crashes_state" step="0.001")
            p
                button(type="submit" class="btn btn-primary")  Upload
