
extends ../../../../../base.pug
block content
    div
        ul(class="list")
            li
                h2 Special Model (AZ, CO, FL, GA, IL, KS, MD, MI, OR, TX, VA, WA, WI)
                p Predicted Crashes=No.of years Ã—Segment LengthÃ—expâ¡(-0.481+0.399 LogVolume -1.020 LogAvgSpeed+0.094 Std.Speed+0.636 LaneNumber_(6-8)+1.290 LaneNumber_(â‰¥10)+0.476(AZ,FL,TX)+1.075(CO,VA)+1.795(GA,MI)+1.342(IL,KS))

            li
                h2 Generic Model
                p Predicted Crashes=No.of years Ã—Segment Length                            Ã—expâ¡(-0.481+0.399 LogVolume -1.020 LogAvgSpeed+0.094 Std.Speed+0.636 LaneNumber_(6-8)+1.290 LaneNumber_(â‰¥10)) Ã—CF.
                ul
                    li
                        h2 Calibration Factor
                        p ğ‘ªğ’‚ğ’ğ’Šğ’ƒğ’“ğ’‚ğ’•ğ’Šğ’ğ’ ğ‘­ğ’‚ğ’„ğ’•ğ’ğ’“_ğ’”ğ’•ğ’‚ğ’•ğ’†=(âˆ‘ ã€–ğ‘‚ğ‘ğ‘ ğ‘’ğ‘Ÿğ‘£ğ‘’ğ‘‘ ğ¶ğ‘Ÿğ‘ğ‘ â„ğ‘’ğ‘ _ğ‘ ğ‘¡ğ‘ğ‘¡ğ‘’ ã€—)/âˆ‘ ã€–ğ‘ƒğ‘Ÿğ‘’ğ‘‘ğ‘–ğ‘ğ‘¡ğ‘’ğ‘‘  ğ¶ğ‘Ÿğ‘ğ‘ â„ğ‘’ğ‘ _ğ‘ ğ‘¡ğ‘ğ‘¡ğ‘’ã€—

        form(method="post", action="/figure", enctype="multipart/form-data")
            p
                span Select data file:
                input(type="file" name="dataFile")

            p
                span Select Model:
                select(name="model")
                    option(value="special") Special
                    option(value="generic") Generic
            p
                span Observed Crashes State:
                input(type="number" name="crashes_state" step="0.001")
            p
                button(type="submit" class="btn btn-primary")  Upload
