extends ../base.pug

block content
    div(class="home-container")
        p The NCHRP 22-48 user tool provides short-term crash prediction for different use case scenarios.
        p The crashes could be predicted for different time periods and crash severity levels. The prediction could be carried out for any state in the United States once the input microscopic input variables are available.

        img(src="/USA.png")

    style
        include home.css
