extends ../base.pug

block content
    div(class="contact-us-container")
        h2 University of Central Florida
        p Address:4000 Central Florida Blvd, Orlando, FL 32816
        p Phone:(407) 823-2000
        p Email address: UCF.SST@gmail.com

    style
        include contact-us.css
