
extends ../../../../../base.pug
block content
    div
        ul(class="list")
            li
                h2 Special Model (FL)
                p Predicted Crashes=No.of years ×Segment Length                             ×exp⁡(-10.761 +2.699 Ln (Volume_GP)-3.816 Ln (AvgSpeed)).


        form(method="post", action="/figure", enctype="multipart/form-data")
            p
                span Select data file:
                input(type="file" name="dataFile")

            p
                button(type="submit" class="btn btn-primary")  Upload
