
extends ../../../../../base.pug
block content
    div
        ul(class="list")
            li
                h2 Special Model (GA, MI, OR, VA, WA)
                p PredictedÂ Crashes=No.Â ofÂ yearsÂ Ã—SegmentÂ LengthÂ Ã—expâ¡(âˆ’3.218Â +0.609Â LogVolumeÂ âˆ’0.777Â LogAvgSpeed+0.024Â AvgOccupancy_DownstreamÂ Â âˆ’0.280Â VAS_VSL_SegmentÂ Â +0.221Â Basic_OtherÂ Segment+2.252Â GAÂ +0.67Â OR)
            li
                h2 Generic Model
                p PredictedÂ Crashes=No.Â ofÂ yearsÂ Ã—SegmentÂ LengthÂ Â Ã—expâ¡(âˆ’3.218Â +0.609Â LnÂ (Volume)Â âˆ’0.777Â LnÂ (AvgSpeed)+0.024Â AvgOccupancy_DownstreamÂ Â âˆ’0.280Â VAS_VSL_SegmentÂ Â +0.221Â Basic_OtherÂ Segment)Ã—CF
                ul
                    li
                        h2 Calibration Factor
                        p ğ‘ªğ’‚ğ’ğ’Šğ’ƒğ’“ğ’‚ğ’•ğ’Šğ’ğ’ ğ‘­ğ’‚ğ’„ğ’•ğ’ğ’“_ğ’”ğ’•ğ’‚ğ’•ğ’†=(âˆ‘ ã€–ğ‘‚ğ‘ğ‘ ğ‘’ğ‘Ÿğ‘£ğ‘’ğ‘‘ ğ¶ğ‘Ÿğ‘ğ‘ â„ğ‘’ğ‘ _ğ‘ ğ‘¡ğ‘ğ‘¡ğ‘’ ã€—)/âˆ‘ ã€–ğ‘ƒğ‘Ÿğ‘’ğ‘‘ğ‘–ğ‘ğ‘¡ğ‘’ğ‘‘  ğ¶ğ‘Ÿğ‘ğ‘ â„ğ‘’ğ‘ _ğ‘ ğ‘¡ğ‘ğ‘¡ğ‘’ã€—

        form(method="post", action="/figure", enctype="multipart/form-data")
            p
                span Select data file:
                input(type="file" name="dataFile")

            p
                span Select Model:
                select(name="model")
                    option(value="special") Special
                    option(value="generic") Generic
            p
                span Observed Crashes State:
                input(type="number" name="crashes_state" step="0.001")
            p
                button(type="submit" class="btn btn-primary")  Upload
