extends ../base.pug

block content
    div(class="crash-prediction-models-container")
        p Developed and calibrated short-term crash prediction models (SPFs) can be utilized to obtain the number of crashes per severity level for different use case scenarios.
        p In each use case scenario, the team utilized multiple states to develop the crash prediction models. Hence, the user should use the special SPF if the state was specified. Otherwise, the user should utilize the generic equation to obtain the number of short-term crashes per severity level.

    style
        include crash-prediction-models.css
