extends ../../base.pug

block content
    div(class="Freeway-Segment-Types")
        h3 The short-term SPFs are available for the following Freeway Segment Types:
        ul(class="list")
            li
                a(href="/" + urlStr + "/Urban Basic") Urban basic freeway segment
            li
                a(href="/" + urlStr + "/Rural Basic") Rural basic freeway segment
            li
                a(href="/" + urlStr + "/Merge") Merge freeway segment
            li
                a(href="/" + urlStr + "/Diverge") Diverge freeway segment
            li
                a(href="/" + urlStr + "/Weaving") Weaving freeway segment
            li
                a(href="/" + urlStr + "/Ramp") Ramp freeway segment




